@media (min-width: 768px) {
    #containerskenia {
        height: 554px;
        margin-top: 104px
    }
    #zagolovokassorti{
        margin-top: 240px;
    }

    .brand {

        position: relative;
        width: 288.92px;
        margin-left: -200px;

    }

    #handwithwhitecake2 {
        display: none;

    }

    .seti {
        margin-top: 83px;
        position: sticky;
        width: 380px;
    }

    .seti .media {
        padding-left: 25px;
    }

    .menuhed {
        align-self: center;
        height: 20px;
        position: relative;

    }

    .footerli {
        align-self: center;
        background: #F6C0BF;
        color: white;
    }

    .footerli li {
        padding-top: 25px;
    }

    .footerli button {
        font-family: 'Comfortaa', cursive;
        text-shadow: 1px 0 1px #A49799;
        font-weight: bold;
        line-height: 20px;
        font-size: 18px;
        color: white;;
        padding-left: 25px;
        background: #F6C0BF;

    }

    .menuhed button {
        font-family: 'Comfortaa', cursive;
        text-shadow: 1px 0 1px #A49799;
        font-weight: bold;
        line-height: 20px;
        font-size: 18px;
        color: #A49799;
        padding-left: 25px;

    }

    a.telephonnum {

        margin-top: 83px;
        position: absolute;
        text-decoration: none;
        color: #dec7ca;
        font-family: 'Comfortaa', cursive;
        text-shadow: 1px 0 1px #DEC7CA;
        font-weight: bold;
        line-height: 20px;
        font-size: 18px;

    }

    .zagolovki {
        font-family: 'Lobster', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 80px;
        color: #A49799;
    }

    #zagolovokmain {

        margin-top: 84px;
        position: relative;
        height: 160px;

    }

    #opisaniebrenda {
        margin-top: 10px;
        position: sticky;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        text-shadow: 1px 0 1px #DEC7CA;
        color: #A49799;
    }

    #buttonassortiment {
        position: absolute;
        margin-top: 10px;
        border: none;
        border-radius: 60px;
        background-color: #F6C0BF;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        padding: 24px;
        width: 219px;
        height: 68px;
        text-shadow: 1px 0 1px #FFFFFF;
        box-shadow: -2px -2px 1px #FCD1D1, 2px 2px 1px #CB9695;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    #handwithbrawncake {
        margin-left: -23px;
        margin-top: -600px;
        position: relative;

    }

    #handwithwhitecake {
        margin-left: -100%;
        margin-top: -599px;
    }

    #namesection {
        margin-left: 35%;;
        margin-bottom: 0px;
    }


    #womenwithsigarets {
        width: 468px;
        height: 314px;
        padding-left: 40px;

    }

    #Ksenia {
        width: 136px;
        height: 132px;
        margin-top: 20px;
        position: relative;
        display: list-item;
    }

    #divforksenia {
        height: 132px;
        width: 312px;
        background-color: #F6C0BF;
        margin-left: 160px;
        margin-top: -134px;
        border-radius: 10px;
    }

    #creatorksenia {
        margin-bottom: 0px;
        font-family: 'Lobster', cursive;
        font-size: 24px;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 20px;
        color: white;
    }

    #onasp1 {
        width: 271px;
        padding-left: 20px;
        margin-top: 8px;

        padding-bottom: 20px;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
    }

    #cake {
        margin-left: 60px;
        margin-top: 60px;
        position: absolute;
    }

    #celi {
        width: 288px;
        height: 262px;
        margin-top: 60px;
        position: absolute;
        margin-left: 360px;

    }

    #celi p {
        width: 270px;
        height: 160px;
        font-family: 'Comfortaa', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    #celi h6 {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    #cennosi {
        width: 288px;
        height: 262px;
        margin-top: 350px;
        position: absolute;
        margin-left: 60px;

    }

    #cennosi button {
        padding-left: 217px;
        font-family: 'Comfortaa', cursive;
        font-size: 10px;
        color: #C5C5C5;
        width: 45px;
        border-style: none;
    }

    #cennosi p {
        width: 288px;
        height: 160px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Comfortaa', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    #cennosi h6 {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    #cakewithdick {
        margin-left: 350px;
        margin-top: 350px;
        position: absolute;

    }

    .o_nas {
        margin-left: -65px;
    }

    .card-item-img {
        padding-left: 55px;
    }

    .cardo {
        width: 389px;


    }


    .card-item-cena {
        margin-left: 90px;
        padding-top: 20px;
        width: 187px;
        height: 84px;
        font-family: 'Lobster', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        border-style: solid;
        border-radius: 35px;
        border-color: #F6C0BF;
        border-width: 5px;
    }

    .card-item-name {
        margin-left: 69px;
        width: 237px;
        font-family: 'Lobster', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .card-item-opisanie {
        width: 285px;
        padding-left: 85px;
        height: 100px;
        font-family: 'Montserrat', sans-serif;
        color: #A49799;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding-top: 10px;

    }

    .card-item-button {
        border-radius: 60px;
        color: #F6C0BF;
        font-family: 'Comfortaa', sans-serif;
        width: 260px;
        height: 68px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        border-style: none;
        padding: 23px;
        text-shadow: 1px 0 1px #FFFFFF;
        box-shadow: -2px -2px 1px #FCD1D1, 2px 2px 1px #CB9695;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-left: 45px;
        margin-top: 30px;
    }

    .button-download {
        border-radius: 60px;
        color: #F6C0BF;
        font-family: 'Comfortaa', sans-serif;
        width: 383px;
        height: 68px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        border-style: none;
        padding: 23px;
        text-shadow: 1px 0 1px #FFFFFF;
        box-shadow: -2px -2px 1px #FCD1D1, 2px 2px 1px #CB9695;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-left: 120px;
        margin-top: 120px;
    }

    .dostavkah {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    .dostavkap {
        width: 266px;
        height: 125px;
        color: #A49799;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        padding-top: 31px;
    }

    #browncake {
        margin-left: 910px;
        margin-top: -731px;
        position: relative;
        z-index: 1;

    }

    .main-header {
        width: 100vw;

    }

    .otz-card-item-img {
        width: 186px;
        height: 186px;
        border-radius: 100px;
        margin-left: 80px;

    }

    .otz-card-item-name {
        font-family: 'Lobster', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        padding-left: 0px;
        padding-top: 20px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;

    }

    .otz-card-item-opisanie {
        margin-left: 15px;
        height: 80px;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        width: 250px;
        margin-left: 50px;

        color: #A49799;

    }

    .footer {
        margin-top: 180px;
        background: #F6C0BF;
        height: 700px;
    }

    .cardotz {
        width: 350px;
    }

    #fotbrand {
        margin-left: 500px;
        margin-top: 50px;
    }

    .row hr {
        margin-left: 180px;
        margin-top: 60px;
        width: 1000px;
    }
}

@media (max-width: 768px) {
    .brand {
        z-index: 2;
        position: relative;
        width: 264px;
        height: auto;
        margin-left: 0px;
    }


    .seti {
        margin-top: 53px;
        position: sticky;
        width: 380px;
        margin-left: 20px;
    }

    .seti .media {
        padding-left: 25px;
    }

    .menuhed {
        display: none;

    }

    .footerli {
        align-self: center;
        background: #F6C0BF;
        width: 150px;
        margin-left: 15%;
    }

    .footerli li {
        padding-top: 25px;
    }

    .footerli button {
        font-family: 'Comfortaa', cursive;
        text-shadow: 1px 0 1px #A49799;
        font-weight: bold;
        line-height: 20px;
        font-size: 28px;
        color: white;;
        padding-left: 25px;
        background: #F6C0BF;

    }

    .menuhed button {
        display: none;
    }

    a.telephonnum{
        margin-top: 210px;
        position: absolute;
        color: white;
        font-family: 'Comfortaa', cursive;
        text-shadow: 1px 0 1px #dec7ca;
        font-weight: bold;
        line-height: 20px;
        font-size: 28px;
        margin-left: 12%;
    }

    .zagolovki {

        font-family: 'Lobster', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;;
        color: #6C5B5D;
    }

    #zagolovokmain {
        z-index: 2;
        margin-top: 18%;
        position: relative;
        height: 90px;

    }

    #zagolovokonas {
        margin-top: 186px;
        margin-left: 40%;
    }

    #opisaniebrenda {
        width: 320px;
        height: 108px;
        z-index: 2;
        margin-top: 10px;
        position: sticky;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-shadow: 1px 0 1px #DEC7CA;
        color: #6C5B5D;;
    }

    #buttonassortiment {
        margin-left: 17%;
        z-index: 2;
        position: relative;
        margin-top: 102px;
        border: none;
        border-radius: 60px;
        background-color: #F6C0BF;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        padding: 24px;
        width: 219px;
        height: 68px;
        text-shadow: 1px 0 1px #FFFFFF;
        box-shadow: -2px -2px 1px #FCD1D1, 2px 2px 1px #CB9695;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    #handwithbrawncake {
        margin-left: -23px;
        margin-top: -600px;
        position: relative;

    }

    #handwithwhitecake {
        display: none;
    }

    #handwithwhitecake2 {
        position: absolute;
        z-index: 1;
        margin-left: -2%;
        margin-top: 0px;
    }

    #namesection {
        margin-left: 35%;;
        margin-bottom: 0px;
    }


    #womenwithsigarets {
        position: absolute;
        width: 307px;
        height: 211px;
        margin-top: 400px;
        margin-left: 9%;

    }

    #Ksenia {
        width: 136px;
        height: 132px;
        margin-top: 20px;
        margin-left: 30%;
        margin-bottom: 30px;
        position: relative;
        display: list-item;
    }

    #divforksenia {
        height: 132px;
        width: 312px;
        background-color: #F6C0BF;
        border-radius: 10px;
        margin-left: 8%;
    }

    #creatorksenia {

        font-family: 'Lobster', cursive;
        font-size: 24px;
        font-weight: 400;
        padding-left: 60px;
        padding-top: 17px;
        color: white;
    }

    #onasp1 {
        width: 312px;
        padding-left: 3px;
        margin-top: 8px;
        padding-bottom: 20px;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 16px;
        text-align: center;
    }
    #readmore{

    }
#zagolovokassorti{
    margin-top: 1000px;
    margin-left: 25%;
}
#zagolovokdostavka{
    margin-left: 29%;
}
#zagolovokotz{
    margin-left: 33%;
}
    #cake {
        display: none;
    }

    #celi {
        width: 288px;
        height: 262px;
        margin-top: 360px;
        position: absolute;
        margin-left: 15%;

    }

    #celi p {
        width: 292px;
        height: 160px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Comfortaa', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    #celi h6 {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    #cennosi {
        width: 288px;
        height: 262px;
        margin-top: 702px;
        position: absolute;
        margin-left: 15%;

    }

    #cennosi button {
        padding-left: 217px;
        font-family: 'Comfortaa', cursive;
        font-size: 10px;
        color: #C5C5C5;
        width: 45px;
        border-style: none;
    }

    #cennosi p {
        width: 288px;
        height: 160px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Comfortaa', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    #cennosi h6 {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    #cakewithdick {
        display: none;

    }

    .o_nas {
        margin-left: -65px;
    }

    .card-item-img {
        padding-left: 55px;
    }

    .cardo {
        width: 389px;


    }

    .card-item-cena {
        margin-left: 90px;
        padding-top: 20px;
        width: 187px;
        height: 84px;
        font-family: 'Lobster', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        border-style: solid;
        border-radius: 35px;
        border-color: #F6C0BF;
        border-width: 5px;
    }

    .card-item-name {
        margin-left: 69px;
        width: 237px;
        font-family: 'Lobster', cursive;
        color: #A49799;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .card-item-opisanie {
        width: 300px;
        height: 100px;
        padding-left: 80px;
        font-family: 'Montserrat', sans-serif;
        color: #A49799;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        padding-top: 11px;

    }

    .card-item-button {
        border-radius: 60px;
        color: #F6C0BF;
        font-family: 'Comfortaa', sans-serif;
        width: 260px;
        height: 68px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        border-style: none;
        padding: 23px;
        text-shadow: 1px 0 1px #FFFFFF;
        box-shadow: -2px -2px 1px #FCD1D1, 2px 2px 1px #CB9695;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-left: 45px;
        margin-top: 160px;
    }

    .button-download {
    border-radius: 60px;
    color: #F6C0BF;
    font-family: 'Comfortaa', sans-serif;
    width: 280px;
    height: 68px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    border-style: none;
    padding: 23px;
    text-shadow: 1px 0 1px #ffffff;
    box-shadow: -2px -2px 1px #fcd1d1, 2px 2px 1px #cb9695;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 70px;
    }

    .dostavkah {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lobster', cursive;
        margin: 0px;

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;
    }

    .dostavkap {
        width: 266px;
        height: 125px;
        color: #A49799;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        padding-top: 31px;
    }
   #footerbutton{
       margin-left: 25%;
       margin-top: 95px;
   }
    #browncake {
        margin-left: 41px;
        margin-top: -140px;
        position: relative;
        z-index: 2;
        width: 343px;
    }

    .main-header {
        width: 100vw;

    }

    .otz-card-item-img {
        width: 186px;
        height: 186px;
        border-radius: 100px;
        margin-left: 80px;

    }

    .otz-card-item-name {
        font-family: 'Lobster', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        padding-left: 0px;
        padding-top: 20px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.055em;

        color: #A49799;

    }

    .otz-card-item-opisanie {
        height: 80px;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        width: 307px;

        color: #A49799;

    }
#nomhead{
    display: none;
}
    .footer {
        margin-top: 90px;
        background: #F6C0BF;
        height: 700px;
        width: 100%;
    }

    .cardotz {
        width: 350px;
    }

    #fotbrand {
        width: 233.93px;
        height: 139px;
        margin-left: 17%;
        margin-top: 50px;
    }

    .row hr {
       display: none;
    }
}

a {
    text-decoration: none;
}


ol li {
    list-style-type: none;
    display: inline-block;
}

ol li button {
    border: none;
}
html {
  scroll-behavior: smooth;
}


