{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'main/js/скорллинг.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md"></div>
    <div class="col-md"></div>
    <div class="col-md">
        <ol class="seti d-none d-lg-block">
            <li class="media">
                <a href=https://instagram.com/knut.i.pryanik_?igshid=YmMyMTA2M2Y=><img src="{% static 'main/image/header/соцсети/Mask%20group%20(3).png' %}"></a>
            </li>
            <li class="media">
                <a href=https://wa.clck.bar/79515176447> <img src="{% static 'main/image/header/соцсети/Mask%20group%20(2).png' %}"></a>
            </li>
            <li class="media">
                <a href=https://vk.com/ksu_giggle><img src="{% static 'main/image/header/соцсети/Mask%20group%20(1).png' %}"></a>
            </li>
            <li class="media">
                <a href=https://t.me/ksugiggle><img src="{% static 'main/image/header/соцсети/Mask%20group.png' %}"></a>
            </li>
        </ol>
    </div>
    <div class="col-md-1 "><img id="handwithwhitecake2"
                                src="{% static 'main/image/header/34342d9e-f40c-493f-8cac-c0c7781cacc3%20(1)-PhotoRoom%202%20.png' %}">
    </div>
    <div class="col-md">
        <div class="col-md">
        </div>
        <div class="col-md">
            <img class="brand" src="{% static 'main/image/header/Кнут%20и%20пряник%20(2)%202.png' %}">
        </div>
        <div class="col-md">
        </div>
    </div>
    <div class="col-md ">
        <a class="telephonnum " id="nomhead" href="tel:+79515176447"
           style="text-decoration: none;  letter-spacing: 3px;">+7 (951)
            517-64-47</a>
    </div>
    <div class="col-md"></div>
    <div class="col-md"></div>

</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md "></div>
    <div class="col-md-6 ">
        <ol class="menuhed">
            <li>
                <button><a style=" text-decoration: none; color: #A49799;" href="#zagolovokonas">о нас</a></button>
            </li>
            <li>
                <button><a style=" text-decoration: none; color: #A49799;" href="#zagolovokassorti">ассортимент</a>
                </button>
            </li>
            <li>
                <button><a style=" text-decoration: none; color: #A49799;" href="#zagolovokdostavka">доставка</a>
                </button>
            </li>
            <li>
                <button><a style=" text-decoration: none; color: #A49799;" href="#zagolovokotz">отзовы</a></button>
            </li>
        </ol>
    </div>
    <div class="col-md "></div>
</div>
<div class="row">
    <div class="col-md-1 "></div>
    <div class="col-md-4 ">
        <h6 class="zagolovki" id="zagolovokmain">Десертная:<br>
            Кнут и Пряник</h6>
    </div>
    <div class="col-md-4 "></div>
    <div class="col-md-2 "></div>
</div>
<div class="row">
    <div class="col-md-1 "></div>
    <div class="col-md-6 ">
        <p id="opisaniebrenda">Это про изысканный вкус и выражение любви к<br> себе и близким, возможность почувствовать
            <br>себя особенным, вкушая оригинальные<br> особенные сочетания авторских начинок.</p>
    </div>
    <div class="col-md-2 "></div>
    <div class="col-md-2 "></div>
</div>
<div class="row">
    <div class="col-md-2 "></div>
    <div class="col-md-6 ">
        <button id="buttonassortiment"><a style=" text-decoration: none; color: white;" href="#zagolovokassorti">Ассортимент</a>
        </button>
    </div>
    <div class="col-md-1 "><img id="handwithwhitecake"
                                src="{% static 'main/image/header/34342d9e-f40c-493f-8cac-c0c7781cacc3%20(1)-PhotoRoom%201.png' %}">
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-2 "></div>
</div>


<div class="row">
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md ">
        <h6 class="zagolovki" id="zagolovokonas">О нас</h6>
    </div>
    <div class="col-md "></div>
</div>

<div class="row">
    <div class="col-md-1 "></div>
    <div class="col-md ">
        <img id="womenwithsigarets" src="{% static 'main/image/section%20О%20Нас/Rectangle%2070.png' %}">
        <img id="Ksenia" src="{% static 'main/image/section%20О%20Нас/Ellipse%2020.png' %}">
        <div id="divforksenia">
            <h6 id="creatorksenia">Создатель : Ксения</h6>
            <p id="onasp1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt.</p>
        </div>

    </div>
    <div class="col-md ">

        <img id="cake" src="{% static 'main/image/section%20О%20Нас/Rectangle%2072.png' %}">
        <div id="celi">
            <h6>Цели:</h6>
            <p>Обеспечить вкуснейшим, необычным, стильным угощением к празднику, интересным подарком-комплиментом,
                сладостями для чаепития без повода.</p>
        </div>
        <img id="cakewithdick" src="{% static 'main/image/section%20О%20Нас/Rectangle%2074.png' %}">
        <div id="cennosi">
            <h6>Ценности:</h6>
            <p>Высокое качество используемых ингредиентов: масло, сливки, сметана хорошей жирности, качественный
                бельгийский шоколад, сочные ягоды...</p>
            <button id="readmore">Читать далее</button>
        </div>


    </div>
    <div class="col-md-2 "></div>

</div>
<div class="row">
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md ">
        <h6 class="zagolovki" id="zagolovokassorti">Ассортимет</h6>
    </div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
</div>

<section style="margin-top: 60px;">

    <div class="row">
        <div class="row-md-3">
            <div>
                {% block card_assort %}

                    <div class="row-md-3" style="float: left; display: inline-flex; margin-left: 9%">
                        {% for el in my_record_assort %}

                            <div class="cardo d-none d-md-block">
                                <div class="row-md ">
                                    <p class="card-item-cena">{{ el.price }}</p>
                                </div>
                                <div class="row-md ">
                                    <p class="card-item-name">{{ el.title }}</p>
                                </div>
                                <div class="row-md ">
                                    <img class="card-item-img"
                                         src="{{ el.image.url }}">
                                </div>
                                <div class="row-md ">
                                    <p class="card-item-opisanie">
                                        {{ el.description }}
                                    </p>
                                </div>
                                <div class="row-md-1 ">
                                    <button class="card-item-button"><a style="text-decoration: none; color: #F6C0BF;" href="https://wa.clck.bar/79515176447">ОФОРМИТЬ ЗАКАЗ</a></button>
                                </div>

                            </div>

                        {% endfor %}
                    </div>

                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row  ">
        <div class="row-md-3">
            <div>
                {% block card_assort_mobile %}

                    <div class="row-md-3" style="float: left; display: inline-flex; margin-left: 2%">


                            <div class="cardo d-md-none ">
                                <div class="row-md  ">
                                    <p class="card-item-cena">{{ my_record_assort_mobile.price }}</p>
                                </div>
                                <div class="row-md ">
                                    <p class="card-item-name">{{ my_record_assort_mobile.title }}</p>
                                </div>
                                <div class="row-md ">
                                    <img class="card-item-img"
                                         src="{{ my_record_assort_mobile.image.url }}">
                                </div>
                                <div class="row-md ">
                                    <p class="card-item-opisanie">
                                        {{ my_record_assort_mobile.description }}
                                    </p>
                                </div>
                                <div class="row-md-1 ">
                                    <button class="card-item-button"><a style="text-decoration: none; color: #F6C0BF;" href="https://wa.clck.bar/79515176447">ОФОРМИТЬ ЗАКАЗ</a></button>
                                </div>

                            </div>


                    </div>

                {% endblock %}
            </div>
        </div>
    </div>
    <button class="button-download"><a  style="text-decoration: none; color: #F6C0BF;" href="https://disk.yandex.ru/mail?hash=0AIb09nT7vvO9zPpPtwewveX%2FN7woG%2B35CrDdUlo6p0jrBd6LitpmZtCNKMr8fqgq%2FJ6bpmRyOJonT3VoXnDag%3D%3D">скачать полное меню</a></button>
    </div>
</section>

<div class="row">
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md ">
        <h6 class="zagolovki" id="zagolovokdostavka" style="margin-top: 140px; z-index: 2; position: relative;">
            Доставка</h6>
    </div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="row" style="margin-top: 110px; position: relative; z-index: 2;">
        <div class="col-md-2 "></div>
        <div class="col-md-3 ">
            <div class="row"><h6 class="dostavkah">Доставка</h6></div>
            <div class="row"><p class="dostavkap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore.</p></div>
        </div>
        <div class="col-md-3 ">
            <div class="row"><h6 class="dostavkah">Самовызов</h6></div>
            <div class="row"><p class="dostavkap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore.</p></div>
        </div>
        <div class="col-md-3 " style="background-color: white ;height: 326px; border-radius: 55px;">
            <div class="row"><h6 class="dostavkah">Оплата</h6></div>
            <div class="row"><p class="dostavkap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore.</p></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row-md "><img id="browncake" src="{% static 'main/image/header/123.png' %}"></div>
</div>
<div class="row">
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md ">
        <h6 class="zagolovki" id="zagolovokotz">Отзывы</h6>
    </div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
    <div class="col-md "></div>
</div>
<section style="margin-top: 60px; ">
    <div class="col-md-2"></div>
    <div class="row">

        {% block card_otz_1 %}

            <div class="row-md-3" style="float: left; padding-left: 13%">

                {% for el in my_record %}
                    <div class="cardotz d-none d-md-block  " style="float: left">
                        <div class="row-md-1 "></div>
                        <div class="row-md-5 ">
                            <img class="otz-card-item-img"
                                 src="{{ el.image.url }}">
                            <div class="row-md-1 ">
                                <p class="otz-card-item-name"> {{ el.title }} </p>
                            </div>

                            <div class="row-md-5 ">

                                <p class="otz-card-item-opisanie">{{ el.description }}</p>

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endblock %}
    </div>
    <div class="row">

        {% block card_otz_mobile %}

            <div class="row-md-3" style="float: left; padding-left: 13%">


                    <div class="cardotz d-md-none  " style="float: left; margin-left: -6%">
                        <div class="row-md-1 "></div>
                        <div class="row-md-5 ">
                            <img class="otz-card-item-img"
                                 src="{{ my_record_mobile.image.url }}">
                            <div class="row-md-1 ">
                                <p class="otz-card-item-name"> {{ my_record_mobile.title }} </p>
                            </div>

                            <div class="row-md-5 ">

                                <p class="otz-card-item-opisanie">{{ my_record_mobile.description }}</p>

                            </div>

                        </div>
                    </div>


            </div>
        {% endblock %}
    </div>

    </div>
</section>
<footer class="footer">
    <div class="row-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img class="brand" id="fotbrand" src="{% static 'main/image/footer/Mask group (4).png' %}">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-3">
            <ol class="seti" style="color: #FFFFFF; ">
                <li class="media">
                    <a href=https://wa.clck.bar/79515176447><img src="{% static 'main/image/header/соцсети/Mask%20group%20(5).png' %}"></a>
                </li>
                <li class="media">
                    <a href=https://instagram.com/knut.i.pryanik_?igshid=YmMyMTA2M2Y=> <img src="{% static 'main/image/header/соцсети/Mask%20group%20(6).png' %}"></a>
                </li>
                <li class="media">
                    <a href=https://vk.com/ksu_giggle><img src="{% static 'main/image/header/соцсети/Mask%20group%20(7).png' %}"></a>
                </li>
                <li class="media">
                    <a href=https://t.me/ksugiggle><img src="{% static 'main/image/header/соцсети/Mask%20group%20(8).png' %}"></a>
                </li>
            </ol>
        </div>
        <div class="col-md"></div>
        <div class="col-md"><a class="telephonnum" href="tel:+79515176447" style="text-decoration: none; color: #FFFFFF; letter-spacing: 3px;
">+7 (951) 517-64-47</a></div>
        <div class="col-md"></div>

    </div>
    <div class="row">
        <div class="col-md">

        </div>
        <div class="col-md">
            <ol class="footerli" style="background-color: #F6C0BF; color: white">
                <li>
                    <button><a style=" text-decoration: none; color: white;" href="#zagolovokonas">о нас</a></button>
                </li>
                <li>
                    <button><a style=" text-decoration: none; color: white;" href="#zagolovokdostavka">доставка</a>
                    </button>
                </li>
                <li>
                    <button><a style=" text-decoration: none; color: white;" href="#zagolovokotz">отзывы</a></button>
                </li>
            </ol>
        </div>
        <div class="col-md">

        </div>
        <div class="col-md">
            <button class="card-item-button" id="footerbutton" style="width: 180px"><a
                    style="text-decoration:none; color: #cb9695" href="tel:+79515176447">ПОЗВОНИТЬ</a></button>
        </div>
        <div class="col-md"></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <hr/>
    </div>
</footer>

</body>
</html>